::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track { background: #1d2021b0 }
::-webkit-scrollbar-thumb { background: #888 }
::-webkit-scrollbar-thumb:hover { background: #555 }

.fg { color: #a1a1a1 !important }
.editor { height: calc(100vh - 63px) }
.logo { padding-left: 10px }

.nav {
	padding-top: 5px;
	padding-bottom: 15px;
}

.button {
    margin-left: 5px;

    background-color: #333;
    border: 1px solid #555555;
    border-radius: 3px;
    box-shadow: #333 0 2px 5px 0;
    color: #ccc;

    cursor: pointer;
    font-size: smaller;
    padding: 4px 10px;
    text-align: center;
    transition: 100ms;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
  background-color: #222;
}

@media only screen and (min-width: 993px) {
	#toast-container {
		right: unset;
		left: 7%;
	}
}

@media only screen and (max-width: 768px) {
	#toast-container {
		bottom: unset;
		top: 9%;
	}
}
